.headerContainer {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.8rem 0 0.8rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: 0.5px solid #777777;
}

.heartContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.countContainer {
	padding: 0 2rem 0 0.8rem;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: lighter;
}
